<app-unauthorized-nav></app-unauthorized-nav>
<section class="register">
  <div class="container">
    <div class="left container">
      <div class="register__header">
        <h1>Welcome to {{ info.title }}</h1>
        <h1>We're Excited to Have You</h1>
        <h1>Go Ahead and Sign Up</h1>
      </div>
    </div>

    <div class="right container">
      <form (submit)="onRegister(e)" class="register__form">
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group">
          <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
          <input type="text" name="first-name" id="first-name" class="form-control" placeholder="First Name">
        </div>

        <div class="form-group">
          <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Last Name">
        </div>

        <input type="submit" class="btn btn--primary" value="Register">
      </form>
    </div>
  </div>
</section>
