@import '~src/assets/styles/abstracts/index';

.page {
  @include c(container) {
    // background: linear-gradient(to bottom right, var(--color-gray-100) 35%, var(--color-gray-200));
    background-color: var(--color-gray-100);
    padding: 6rem 0;
    padding-left: var(--app-nav-width);
    min-height: 100vh;

    &.active { padding-left: var(--app-nav-width-active); }
  }

  @include c(title) {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    margin-top: 0;
  }
}
