@import '../abstracts/index';

.badge {
  border-radius: 5px;
  color: var(--white);
  max-width: fit-content;
  padding: 0.25em 1.5em;

  @include m(success) {
    background: linear-gradient(to bottom right, var(--color-green-400), var(--color-green-300));
  }

  @include m(danger) {
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-darker));
  }
}
