.btn {
  border: none;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  font-weight: 600;
  transition: 0.2s ease;

  &:hover, &:focus {
    box-shadow: 0 0 1.6rem -0.6rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    transform: scale(1.08);
  }

  &:active {
    box-shadow: 0 0 1.6rem -0.6rem rgba(0, 0, 0, 0.5);
    transform: scale(1);
  }

  @include m(primary) {
    background-color: var(--color-primary);
    color: var(--white);

    &:visited {
      color: var(--white);
    }
  }

  @include m(secondary) {
    background-color: var(--color-light-purple);
    color: var(--white);

    &:visited {
      color: var(--white);
    }
  }

  @include m(tertiary) {
    background-color: var(--color-green-400);
    color: var(--white);

    &:visited {
      color: var(--white);
    }
  }
}
