.card {
  @include e(title) {
    margin-bottom: 1.6rem;
  }

  @include e(body) {
    background-color: var(--white);
    box-shadow: 0 0 1.9rem -0.9rem rgba(0, 0, 0, 0.3);
    border-bottom: 6px solid var(--color-green-300);
    border-radius: 3px;
    padding: 1rem 1rem 1.3rem;

    @include m(pdd-md) {
      padding: 2rem 2rem 2.3rem;
    }
  }
}
