*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--off-white);
  color: var(--black);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2em;

  @include respond(500px) {
    padding: 0 1.5em;
  }
}
