<div class="client-list">
  <div class="table-overflow">
    <table class="table table--in-card table-hover">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Date of Appointment</th>
          <th class="text-center">Payment</th>
          <th class="text-center">Status</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Rylee Brown</p>
            <p class="meta">Photography</p>
          </td>
          <td>November 30th</td>
          <td class="text-center">$125</td>
          <td class="text-center">
            <span class="badge badge--success">
              Paid
            </span>
          </td>
          <td>December 22nd</td>
        </tr>

        <tr>
          <td>
            <p>Blaze Rowland</p>
            <p class="meta">Photography</p>
          </td>
          <td>December 1st</td>
          <td class="text-center">$180</td>
          <td class="text-center">
            <span class="badge badge--success">
              Paid
            </span>
          </td>
          <td>December 30th</td>
        </tr>

        <tr>
          <td>
            <p>Jim Hall</p>
            <p class="meta">Photography</p>
          </td>
          <td>December 5th</td>
          <td class="text-center">$250</td>
          <td class="text-center">
            <span class="badge badge--danger">
              Not Paid
            </span>
          </td>
          <td>January 3rd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
